* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#realHeader,
#fakeHeader {
  position: relative;
  height: 100px;
  width: 100vw;
  background-color: #ffffff;
  border-bottom: 1px solid gray;
  display: flex;
  align-items: center;
  justify-content: center;
}

#realHeader {
  z-index: 1987;
  padding: 5px;
}
#realHeader #contendorEspacios {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}
#realHeader #contendorEspacios .btnT {
  display: flex;
  width: 70px;
  height: 50px;
  justify-content: center;
  align-items: center;
}
#realHeader #contendorEspacios .btnT:hover {
  background-color: #efefef;
  border-radius: 30px;
  cursor: pointer;
}
#realHeader #contendorEspacios .btnT:active {
  background-color: black;
  color: white;
}
#realHeader #contendorEspacios .btn {
  display: flex;
  width: 50px;
  height: 50px;
  justify-content: center;
  align-items: center;
}
#realHeader #contendorEspacios .btn:hover {
  background-color: rgba(0, 0, 0, 0.06);
  border-radius: 50px;
  cursor: pointer;
}
#realHeader #contendorEspacios .Lpinterest:hover {
  cursor: pointer;
}
#realHeader #contendorEspacios .btnTextos {
  font-family: Helvetica, sans-serif;
  font-weight: bold;
}
#realHeader #contendorEspacios .btnTextos:hover {
  cursor: pointer;
}
#realHeader #contendorEspacios .buscador {
  width: 80%;
  height: 60%;
  border-radius: 30px;
}
#realHeader #contendorEspacios .buscador .campoBuscador {
  font-family: "Cabin", sans-serif;
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 30px;
  outline: none;
  background-color: #9c9c9c;
  padding-left: 15px;
  font-size: medium;
}
#realHeader #contendorEspacios .notificaciones:hover {
  cursor: pointer;
}
#realHeader #contendorEspacios .mensajes:hover {
  cursor: pointer;
}
#realHeader #contendorEspacios .perfil:hover {
  cursor: pointer;
}
#realHeader #contendorEspacios .masMenu:hover {
  cursor: pointer;
}

#fakeHeader {
  height: 75px;
  position: fixed;
  top: -75px;
  opacity: 0;
  transition: all 1s ease;
  z-index: 1986;
}

#searchBar,
#footerMobile {
  display: none;
  transition: all 1s ease;
}

#searchBar {
  position: fixed;
  height: 45px;
  width: 100%;
  background-color: white;
  top: 0px;
  padding: 6px 15px;
}
#searchBar.hide {
  top: -45px;
}
#searchBar input {
  width: 100%;
  background-color: #5f5f5f7a;
  border-radius: 10px;
}

#footerMobile {
  position: fixed;
  bottom: 0px;
  background-color: white;
  width: 100%;
  border-top: 1px solid rgba(40, 40, 40, 0.4);
  justify-content: space-between;
  padding: 0 15px;
}
#footerMobile.hide {
  bottom: -45px;
}
#footerMobile .btn {
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  align-items: center;
  padding: 5px;
}
#footerMobile .btn svg {
  width: 24px;
  height: 24px;
}
#footerMobile .btn svg path {
  fill: #5f5f5f;
}
#footerMobile .btn svg.pinterest path {
  fill: #e6001a;
}

#contenedorPrincipal {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
}

#content {
  display: flex;
  width: 90%;
  height: 100%;
  padding: 5px;
}

.column {
  padding: 5px;
  display: flex;
  flex-flow: column;
  flex-grow: 1;
  justify-content: space-between;
}
.column .element {
  width: 100%;
  border-radius: 10px;
  margin: 5px 0;
  padding: 10px;
}
.column .element img {
  width: 100%;
  border-radius: 10px;
}
.column .element img:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.column .element:hover {
  cursor: zoom-in;
  transition: 1s ease;
  transform: scale(1.1);
}

@media (max-width: 375px) {
  #content {
    display: grid;
  }

  .column:nth-child(1) {
    grid-column: 1/2;
  }
  .column:nth-child(2) {
    grid-column: 2/2;
  }
  .column:nth-child(3) {
    grid-column: 1/2;
  }
  .column:nth-child(4) {
    grid-column: 2/2;
  }
  .column:nth-child(5) {
    display: none;
  }

  #searchBar,
#footerMobile {
    display: flex;
    height: 45px;
  }

  #realHeader,
#fakeHeader {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
